$primary-color: #39b54a;
$primary-color-lighter: lighten($primary-color, 2);//#4dc65d;
$primary-color-lightest: lighten($primary-color, 5);//#69e07a;

$green-color: $primary-color;
$yellow-color: rgb(255, 219, 58);
$red-color: rgb(241, 81, 81);

$background-light: #eee;
$background-lighter: #fafafa;
$background-lightest: #fff;

$background-dark: #21252b;
$background-darker: darken($background-dark, 2);
$background-darkest: darken($background-dark, 3);

$primary-text-ondark: rgba(255,255,255,.75);
$secondary-text-ondark: rgba(255,255,255,.4);

$primary-text: rgba(0,0,0,.75);
$secondary-text: rgba(0,0,0,.4);