// @import 'variable';
// @import 'common';
// @import 'radio';
@import '_colors';

label.custom-radio-button {
  cursor: pointer;
  .label-text {
    font-size: 0.875em;
  }
  &[theme=dark] {
    input[type="radio"] ~ .helping-el {
      background-color: rgba(255,255,255, .05);
    }
  }
  input[type="radio"] {
    display: none;
    ~ .helping-el {
      background-color: rgba(0,0,0, .1);
      border-radius: 50%;
      display: inline-block;
      margin-right: 7px;
      padding: 8px;
      position: relative;
      top: 3px;
      transition: background-color .2s ease;
      &:after {
        border-radius: 50%;
        content: " ";
        font-size: 33px;
        height: 8px;
        left: 4px;
        position: absolute;
        top: 4px;
        width: 8px;
        transition: background-color .2s ease;
      }
    }

    &:checked {
      ~ .helping-el {
        background-color: rgba($primary-color, .15);
        &:after {
          background-color: $primary-color;
        }
      }
    }
  }
}

label.custom-checkbox  {
  cursor: pointer;
  .label-text {
    font-size: 0.875em;
  }
  &[theme=dark] {
    input[type=checkbox] {
      ~ .helping-el {
        background-color: rgba(255,255,255, .05);
      }
      &:checked {
        ~ .helping-el {
          &:after {
            border-color: $primary-color;
          }
        }
      }
    }
  }
  input[type=checkbox] {
    display: none;
    ~ .helping-el {
      background-color: rgba(0,0,0, .1);
      border-radius: 4px;
      display: inline-block;
      margin-right: 7px;
      padding: 8px;
      position: relative;
      top: 3px;
      transition: background-color .2s ease;
      &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 8px;
        border: 2px solid transparent;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        top: 2px;
        left: 5px;
        transition: border-color .2s ease;
      }
    }

    &:checked {
      ~ .helping-el {
        background-color: rgba($primary-color, .15);
        &:after {
          border-color: $primary-color;
        }
      }
    }
  }
}


label.custom-radio-buttonn  {
  &[theme=dark] {
    input[type="radio"] ~ .helping-el {
      border: 2px solid rgba(255,255,255,.1);
    }
  }
  input[type="radio"] {
    display: none;
    ~ .helping-el {
      border-radius: 50%;
      border: 2px solid rgba(0,0,0,.1);
      display: inline-block;
      margin-right: 7px;
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
      transition: border .2s ease;
      box-sizing: border-box;
    }
    &:checked {
      ~ .helping-el {
        border: 4px solid $primary-color;
      }
    }
  }
  &:hover input[type="radio"] ~ .helping-el {
    border-width: 4px;
  }
}

input[type=text].custom-input,
input[type=number].custom-input {
  position: relative;
  height: 40px;
  background: #fff;
  box-shadow: 0 4px 16px rgba(#000, .05);
  font-size: .875em;
  font-weight: 600;
  font-family: 'Open Sans';
  color: rgba(0,0,0,.75);
  border: none;
  border-radius: 4px;
  padding: 10px 16px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  &[theme=dark] {
    color: $primary-text-ondark;
    &:after {
      border: {
        color: rgba(255,255,255,.25);
      }
    }
    &.line {
      border: {
        color: rgba(255,255,255,.1);
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 16px;
    top: 18px;
    box-sizing: border-box;
    transform: rotate(45deg);
    transition: all .2s ease;
    border: {
      style: solid;
      color: rgba(0,0,0,.4);
      width: 0 3px 3px 0;
    }
  }
  &.line {
    height: 36px;
    background: transparent;
    box-shadow: none;
    border: {
      style: solid;
      color: rgba(0,0,0,.2);
      width: 0 0 2px 0;
      radius: 0;
    }
    padding: 6px 0 6px 0;
    &:after {
      top: 12px;
      right: 10px;
    }
  }
}